/* Cyberpunk Pallet
	#00ff9f #ff2a6d #ff2
  #00b8ff #d1f7ff
  #001eff #05d9e8
  #bd00ff #005678
  #d600ff #01012b
*/

body{
background-color: rgb(40,0,0);
background-image: linear-gradient(rgb(40,0,0), black);
width: 100%;
}

h2{
  font-size: 35px;
}

p{
  font-size: 22px;
}

a{
color: #ff115d;
}

a:hover{
  color: #05d9e8 ;
  border:solid 1px #05d9e8;
  padding: 1%;
}

.wrap{
  text-align: center;
  width:400px;
  height: 690px;
  background-color: rgb(30,0,0);
  border: double #c5134b;
 
}

#myName{
  font-family: 'Share Tech Mono', monospace;
  font-size: 28px;
  color: 	#00ff9f;
}

.avatarName{
  text-align: center;
}

.avatar{
 margin: 10px 0px 0px 10px; 
 width: 30%; 
 border-radius: 20%; 
 ;
}

.aboutMe{
  font-family: 'Share Tech Mono', monospace, sans-serif;
  color: 	#ff2a6d;
}

.index{
  align-items: center;
}

.instagram{
  width: 40px;
}