body{
background-color: #888585;
}

h2{font-size: 35px;}

p{font-size: 22px;}

.wrap{
  padding-left: 1%;
}

#myName{
  font-family: Arial, Helvetica, sans-serif;
}

.avatar{
align-items: center; border-radius: 50%; box-shadow: 10px 5px 5px rgb(48, 48, 48);
}

.index{
  align-items: center;
}
