/* Cyberpunk Pallet
	#00ff9f #ff2a6d #ff2
  #00b8ff #d1f7ff
  #001eff #05d9e8
  #bd00ff #005678
  #d600ff #01012b
*/

body{
background-color: rgb(40,0,0);
background-image: linear-gradient(rgb(40,0,0), black);
height: 100vh;
}

h2{
  font-size: 35px;
}

p{
  font-size: 22px;
}

a{
color: #ff115d;

}

a:hover{
  color: #05d9e8 ;
  }

  button{
    border: transparent;
    background-color: transparent;
  }

  button:hover{
    border: 1.5px solid #05d9e8;
  }

.card{
  text-align: center;
  width:400px;
  margin: auto;
  background-color: rgb(30,0,0);
  border: double #c5134b;
  box-shadow: 5px 5px 0px 0px #ff115c2d;
}


#myName{
  font-family: 'Share Tech Mono', monospace;
  font-size: 28px;
  color: 	#00ff9f;
}

.avatarName{
  text-align: center;
}

.avatar{
 margin: 10px 0px 0px 10px; 
 width: 30%; 
 border-radius: 20%; 
 ;
}

.aboutMe{
  font-family: 'Share Tech Mono', monospace, sans-serif;
  color: 	#ff2a6d;
}

.index{
  align-items: center;
}

.instagram{
  position: relative;
  right: full;
  width: 40px;
}

